<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>

<div class="aPress">
      <input type="text" name="image" ng-model="newPress.image" placeholder="Image Link" value=""><br>
      <input type="text" name="communityName" ng-model="newPress.title" placeholder="Title of Article" value=""><br>
      <input type="text" name="population" ng-model="newPress.byline" placeholder="Byline" value=""><br>
      <input type="text" name="population" ng-model="newPress.link" placeholder="Link" value=""><br>
      <input type="text" name="description" ng-model="newPress.description" placeholder="Description" value=""><br><br>
<button type="button" name="button" ng-click="AdminCtrl.addPress(newPress)">Post New Press!</button>
</div>

<article class="newPress" ng-repeat="pressItem in AdminCtrl.items" >
<img ng-src="{{item.image}}">
<h4>{{item.name}}</h4>
<h4>{{item.name}}</h4>
<h2>{{item.population}}</h2>
<p>{{item.description}}</p>
</article>
<br><br>
