<!-- form to create, edit, and delete communities -->
<p class="adminTitle">Edit Communities</p><a href="#/communities"><button class="btn adminBtn" type="" name="">View Communitites</button></a>


<a href="#/communities"><button class="btn navBtn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn navBtn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn navBtn" type="" name="">Home</button></a>
<a href="#/admin"><button class="btn navBtn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn navBtn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn navBtn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn navBtn" type="" name="">Edit Press</button></a>
<!-- <a href="#/payment"><button class="btn navBtn" type="" name="">Payment Popup</button></a> -->
<!-- <a href="#/login"><button class="btn navBtn" type="" name="">Login</button></a> -->

  <h2 class='login'><a href ng-click='open2("lg")'='#/login'>Login &nbsp;|</a>
  </div> <a class='login' href="#/register">Register </a></h1>

<a href="#/logout" class="login">Logout</a>


<div class='logDiv'>

  <h1  class="loginH1">betr</h1>
  <h5 class="loginH2">Better Health. Better Life</h5>
</div>

<div class="aLogin">
       <input type="text" name="image" ng-model="newCommunity.image" placeholder="Image Link" value="" class="form-control loginInput"><br>
       <input type="text" name="communityName" ng-model="newCommunity.name" placeholder="Community Name" value="" class="form-control"><br>
       <input type="number" name="population" ng-model="newCommunity.population" placeholder="Population of Women" value="" class="form-control"><br>
       <input type="text" name="description" ng-model="newCommunity.description" placeholder="Description" value="" class="form-control"><br><br>
 <button class="btn logBtn" style="display:block;" type="button" name="button" ng-click="AdminCtrl.addCommunity(newCommunity)">Add a Community</button>

 </div>

<div class="communityDisplay">

 <article class="theCommunities" ng-repeat="item in AdminCtrl.items" >
     <div class="comDiv">



         <img ng-src={{item.image}}>
             <div class="comText">
                <h1 class="comName" >{{item.name}}</h1>
                <h3 class="population">Population of {{item.population}}</h3>
                <h5 class='popPar'>{{item.description}}</h5>

            <a href="#" ng-click="AdminCtrl.editCommunity(item)"> <button class="btn editBtn" type="button" name="button" ng-click="AdminCtrl.editCommunity(item)">Edit Community</button></a>
            <div ng-show="editorEnabled">
            <input ng-model="title">
            <a href="#" ng-click="editorEnabled=!editorEnabled">Done editing?</a>
            </div>

            <button class="btn editBtn"  type="button" name="button" ng-click="AdminCtrl.deleteCommunity(item)">Delete Community</button>
            </div>
     </div>


 </article>
</div>

 <br><br>
