<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>


<div class="aLogin">
      <input type="text" name="image" ng-model="newPress.imageLink" placeholder="Image Link" value="" class='form-control loginInput'><br>
      <input type="text" name="communityName" ng-model="newPress.title" placeholder="Title of Article" value="" class='form-control'><br>
      <input type="text" name="population" ng-model="newPress.byline" placeholder="Byline" value="" class='form-control'><br>
      <input type="text" name="population" ng-model="newPress.link" placeholder="Link" value="" class='form-control'><br>
      <input type="text" name="description" ng-model="newPress.description" placeholder="Description" value="" class='form-control'><br><br>
<button class="btn logBtn" type="button" name="button" ng-click="AdminCtrl.addPress(newPress)">Post New Press</button>

</div>

<div class="pressDiv">
<article class="newPress" ng-repeat="pressItem in AdminCtrl.pressItems" >
<img ng-src="{{pressItem.imageLink}}">
<h4>{{pressItem.title}}</h4>
<h4>{{pressItem.byline}}</h4>
<h2>{{pressItem.link}}</h2>
<p>{{pressItem.description}}</p>
</article>
<br><br>
</div>
