<!-- form to create, edit, and delete communities -->
<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>


<div class='logDiv'>

  <h1  class="loginH1">betr</h1>
  <h5 class="loginH2">Better Health. Better Life</h5>
</div>

<div class="aLogin">
       <input type="text" name="image" ng-model="newCommunity.image" placeholder="Image Link" value="" class="form-control loginInput"><br>
       <input type="text" name="communityName" ng-model="newCommunity.name" placeholder="Community Name" value="" class="form-control"><br>
       <input type="number" name="population" ng-model="newCommunity.population" placeholder="Population of Women" value="" class="form-control"><br>
       <input type="text" name="description" ng-model="newCommunity.description" placeholder="Description" value="" class="form-control"><br><br>
 <button class="btn logBtn" style="display:block;" type="button" name="button" ng-click="AdminCtrl.addCommunity(newCommunity)">Add a Community</button>

 </div>

<div class="communityDisplay">

 <article class="theCommunities" ng-repeat="item in AdminCtrl.items" >
     <div class="comDiv">
         <img ng-src={{item.image}}>
             <div class="comText">
                <h1 class="comName" >{{item.name}}</h1>
                <h3 class="population">Population of {{item.population}}</h3>
                <h5 class='popPar'>{{item.description}}</h5>
            <button class="btn editBtn" type="button" name="button" ng-click="AdminCtrl.editCommunity(newCommunity)">Edit Community</button>
            <button class="btn editBtn"  type="button" name="button" ng-click="AdminCtrl.deleteCommunity(newCommunity)">Delete Community</button>
            </div>
     </div>
 </article>
</div>

 <br><br>
