<!-- create updates for all users and specific communities -->
<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>


 <div style="margin-top:3%;" class="aLogin">
       <input class="form-control" type="text" name="image" ng-model="newPost.image" placeholder="Image Link" value=""><br>
       <input class="form-control" type="text" name="communityName" ng-model="newPost.communityName" placeholder="Community Name" value=""><br>
       <input class="form-control" type="text" name="postTitle" ng-model="newPost.postName" placeholder="Title" value=""><br>
       <input class="form-control" type="text" name="update" ng-model="newPost.postBody" placeholder="Update Description" value=""><br><br>
 <button class="btn logBtn" type="button" name="button" ng-click="AdminCtrl.addPost(newPost)">Add Update</button>
 </div>

<div class="postDiv">
 <article class="newPosts" ng-repeat="postItem in AdminCtrl.items" >
 <img ng-src={{postItem.image}}>
 <h3>{{postItem.communityName}}</h3>
 <h2>{{postItem.postName}}</h2>
 <p>{{postItem.postBody}}</p>
 <button style="padding-left:35px;" class="btn editBtn" type="button" name="button" ng-click="AdminCtrl.editPost(postItem)">Edit Community</button>
 <button class="btn editBtn"  type="button" name="button" ng-click="AdminCtrl.deletePost(postItem)">Delete Community</button>
 </article>

</div>
