<!-- list of communitties with donate button and progress bar and filters for closest to funded, least, and no funded -->
<p>this is the community page</p>
<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>

<div class="communityDisplay">

 <article class="theCommunities" ng-repeat="item in AdminCtrl.items" >
     <div class="comDiv">
         <img ng-src={{item.image}}>
             <div class="comText">
                <h1 class="comName" >{{item.name}}</h1>
                <h3 class="population">Population of {{item.population}}</h3>
                <h5 class='popPar'>{{item.description}}</h5>
                <button style="margin:0; padding:5px;" class="btn logBtn " ng-click='open("lg")'>Donate</button>

            </div>

     </div>
 </article>
 <br><br>
</div>
