<!-- list of communitties with donate button and progress bar and filters for closest to funded, least, and no funded -->
<p>this is the community page</p>
<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>


<article class="theCommunityPage" ng-repeat="item in AdminCtrl.items" >
<img ng-src="{{item.image}}">
<h4>{{item.name}}</h4>
<h4>{{item.name}}</h4>
<h2>{{item.population}}</h2>
<p>{{item.description}}</p>
<button class="btn logBtn" ng-click='open("lg")'>Donate - Open Modal Dialog</button>

</article>
<br><br>
