<!-- shows updates here -->
<p>this will be your news feed</p>
<button ng-click="MainCtrl.logOut()" class="btn adminBtn" type="" name="">Logout</button>

<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>



<div class="postDiv">
 <article class="newPosts" ng-repeat="postItem in AdminCtrl.items" >
 <img ng-src={{postItem.image}}>
 <h3>{{postItem.communityName}}</h3>
 <h2>{{postItem.postName}}</h2>
 <p>{{postItem.postBody}}</p>
 </article>
 <br><br>
</div>



<footer>
<img class="footerImg" src="pics/betrLogo.png">
<p>Created by Students of The Iron Yard</p>
</footer>
