<!-- shows updates here -->
<p class="adminTitle" style="display:inline-block;">Check Your Communities</p><!-- <div style="display:inline-block;" ng-controller="ModalInstanceCtrl">
  <h2 class='login'><a href ng-click='open2("lg")'='#/login'>Login &nbsp;|</a>
  </div> <a class='login' href="#/register">Register </a></h1> -->
  <div class="userNav">
    <a href="/#/"><img class="footerImg" src="pics/betrLogo.png"></a>
<a class="login" href="#/admin">Admin | </a>
<a class="login" href="#/communities">Communities | </a>
<a class="login" href="#/home">My Home | </a>
<a href="#/press" class="login">Press | </a>
<!-- <a href="#/payment"><button class="btn navBtn" type="" name="">Payment Popup</button></a> -->
<a href="#/logout" class="login">Logout</a>
</div>
<br>
<!-- <div class="adminNav" ng-show="MainCtrl.isUser">
  <a href="#/admin"><button class="btn navBtn" type="" name="">Admin</button></a>
<a href="#/editpress"><button class="btn navBtn" type="" name="">Edit Press</button></a>
<a href="#/editcommunities"><button class="btn navBtn" type="" name="">Edit Communities</button></a>
<a href="#/newpost"><button class="btn navBtn" type="" name="">Create Posts</button></a>
</div> -->




<!-- <div class="notLoggedIn" style="text-align:right; padding-right:1%;">
  <h2 class='login'><a href ng-click='open2("lg")'='#/login'>Login</a>&nbsp;|
  <a href="#/register">Register</a></h1>
</div> -->
<div class="fp-scrollable scrollIt" style="position: relative; overflow: scroll; width: auto; height: 800px;">


<div class="postDisplay lastSec2">
       <article class="newPosts" ng-repeat="post in AdminCtrl.posts" >
          <div class="postDiv">
            <img ng-src={{post.image}}>
                <div class="postText">
                 <h1 class="comName">{{post.postName}}</h1>
                 <p class="pName">{{post.communityName}}</p>
                 <h5 class="popPar">{{post.postBody}}</h5>
               </div>
             </div>
       </article>

</div>

</div>
<br>

<footer>
<img class="footerImg" src="pics/betrLogo.png">
<p>Created by Students of The Iron Yard</p>
</footer>
