<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>
<a href="#/register"><button class="btn" type="" name="">Register</button></a>



<div class="aLogin">
       <input type="text" class="loginInput" name="emailLogin" ng-model="logUser.email" placeholder="Email" value=""><br>
       <input type="password" class="loginInput" name="passwordLogin" ng-model="logUser.password" placeholder="Password" value=""><br>
 <button type="button" name="button" ng-click="MainCtrl.logUser(logUser)">Login!</button>
 </div>
