      <div class="logOut">
          <h1 class="logoutBetr">Thank you for supporting <br><span class="bigBetr">betr</span></h1>
        <a href="/#/">  <img style="max-height:65px; padding-left:15px;" src="pics/betrLogo.png"></a>

      </div>


  <footer style="margin:auto 0;" class="insideFooter">
  <h5>Created by Students of The Iron Yard</h5>
  <p>Bryan Bennett, Jessica Huffstutler, Juan Arbelaez & Kate Wilson</p>
  <a href="https://twitter.com/betr_life"><img alt="twitter"class='icon icon2' src="pic/twitter.jpg"></a>
  <a href="https://www.instagram.com/betr_life/"><img alt="instagram" class='icon icon2' src="pic/insta.jpg"></a>

  </footer>
