
<head>
  <link rel="stylesheet" type="text/css" href="bower_components/fullpage.js/jquery.fullPage.scss" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/fullpage.js/jquery.fullPage.js"></script>
  <script type="text/javascript" src="bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
      $('#fullpage').fullpage();
      loopTop: true
  });
  </script>
</head>

<!-- triad of info and button leading to donate page -->
<!-- <header class='header1'>
  <img src="pics/betrLogo.png" alt="flowerthing" / class='headerImg'>
  <h1 class='h1header'>betr</h1>

  <div style="display:inline-block;" ng-controller="MainController as MainCtrl">
    <h2 class='login'><a href="" ng-click='MainCtrl.open2("lg")'>Login</a>&nbsp;|&nbsp;
    </div><a class='login' href="#/register">Register</a></h1>
</header> -->

<!--
    <a href="#/communities"><button class="" type="" name="">Communitites</button></a>
    <a href="#/editcommunities"><button class="" type="" name="">Edit Communities</button></a>
    <a href="#/home"><button class="" type="" name="">Logged in Home</button></a>
    <a href="#/admin"><button class="" type="" name="">Admin</button></a>
    <a href="#/newpost"><button class="" type="" name="">Posts</button></a>
    <a href="#/press"><button class="" type="" name="">Press</button></a>
    <a href="#/editpress"><button class="" type="" name="">Edit Press</button></a> -->

    <!-- <header class='header1'>
        <img alt="flowerthing" class='headerImg' src="pics/flower.png">
        <h1 class='h1header'>betr</h1>
        <h1 class='login'>Login | Register</h1>
    </header> -->

    <div id="fullpage">
      <div class="section">

        <header class='header1'>
          <img src="pics/betrLogo.png" alt="flowerthing" / class='headerImg'>
          <h1 class='h1header'>betr</h1>

          <div style="display:inline-block;" ng-controller="MainController as MainCtrl">
            <h2 class='login'><a href="" ng-click='MainCtrl.open2("lg")'>Login</a>&nbsp;|&nbsp;
            </div><a class='login' href="#/register">Register</a></h1>
        </header>

            <section class='mainCont'>
                <div class=" pinkDiv div">
                    <h1 class='info'>There are 630 million women in India.</h1>
                </div>
                <div class=" blueDiv div"></div>
                <div class=" blueDiv2 div">
                    <h1 class='info'></h1>
                </div>
                <div class=" blueDiv3 div">
                  <h1 class='info'>88% of women and girls in india have no
                  access to sanitary pads.</h1>
                </div>
                <div class="blueDiv div" style="margin-top: -5px;"></div>
                <div class="pinkDiv div" style="margin-top: -5px; margin-left: -3px; width: 68.21%;">
                  <h1 class='info'>1 of 3 girls will drop out of school upon
                  puberty.</h1>
                </div>

                <footer class="mainFooter">
                    <!-- <a href="#"><img alt="fb" class="fb icon" src="pic/fb.jpg"> </a> -->
                    <a href="https://twitter.com/betr_life"><img alt="twitter"class='icon icon2' src="pic/twitter.jpg"></a>
                    <a href="https://www.instagram.com/betr_life/"><img alt="instagram" class='icon icon2' src="pic/insta.jpg"></a>
                </footer>
            </section>
        </div>


                            <!-- section 2 -->

        <div class="section">
          <div class="slide">
            <!-- <header class='header1'>
                <img alt="flowerthing" class='headerImg' src="pics/flower.png">
                <h1 class='h1header'>betr</h1>
                <h1 class='login'>Login | Register</h1>
            </header> -->
            <section class='secPage'>
              <p class="mainTitle">The Problem</p>
                <div class="impact"></div>
                <div class="impact"></div>
                <p class='par'>
                    In order for women and girls to move out of poverty they need three simple things:
                    <br><span class="highlight">health, safety, & an education. </span><br>
                    For many girls in India, the only thing standing in their way is a simply manufactured collection of cotton,
                    <br><span class="highlight2">a pad.</span><br>
                  </p>
                <p class='par'>
                     There are more than
                    <br><span class="highlight">250 million girls living in poverty </span><br>
                  worldwide.   In India alone, cutting the dropout rate in half would give
                    <br><span class="highlight2">opportunities</span><br>
                     to more than 107 million women.
                   </p>
            </section>
        </div>

                      <!-- SECTION 3-->
        <div class="slide">
            <!-- <header class='header1'>
                <img alt="flowerthing" class='headerImg' src="pics/flower.png">
                <h1 class='h1header'>betr</h1>
                <h1 class='login'>Login | Register</h1>
            </header> -->
            <section class='secPage' style="background-color: #8BC34A;">
              <p style="color:white;" class="mainTitle">Sustainable Solution & Process</p>

                <div class="impact"></div>
                <div class="impact"></div>
                <p class='par2'>
                      Betr pads produced using our machines are easily created from simple, raw materials and provide a
                      <br><span class="highlight2">healthy, hygienic </span><br>
                      way to manage menstruation. Many alternatives currently used by women around the world can cause serious, sometimes deadly, side effects and create shame around women’s bodies and its processes.                </p>
                <p class='par2'>
                      Not only does the Betr process meet an immediate need for a product, it is a sustainable model. It’s process includes limited machinery using raw materials, locally sourced and provided for a low cost. But most importantly, it provides women with an
                      <br><span class="highlight">opportunity for entrepreneurship</span><br>
                       in developing nations and a living wage.                </p>
            </section>
        </div>

                              <!-- section 4-->
        <div class="slide">
            <!-- <header class='header1'>
                <img alt="flowerthing" class='headerImg' src="pics/flower.png">
                <h1 class='h1header'>betr</h1>
                <h1 class='login'>Login | Register</h1>
            </header> -->
            <section class='secPage'>
              <p class="mainTitle">Impact Through Empowerment & Entrepreneurship</p>

                <div class="impact"></div>
                <div class="impact"></div>
                <p class='par'>
                      The lack of access to basic healthcare is the largest contributing factor to girls in India not continuing education past the age of puberty. <span style="font-weight:bold; font-size:24px;">In places where girls have access to school this simple, decades old technology should not stand in their way.</span>                </p>
                <p class='par'>
                      Each Betr machine can produce enough pads for an entire village. The women learn the process of manufacturing and how to run a business. It creates a community of women where their bodies are treated with normalcy.
                      <br><span class="highlight">They no longer have to hide a natural process experienced by every woman in the world. </span><br>               </p>
            </section>
        </div>
      </div>

                            <!-- section5 last sec-->
        <div class="section">
            <!-- <header class='header1'>
                <img alt="flowerthing" class='headerImg' src="pics/flower.png">
                <h1 class='h1header'>betr</h1>
                <h1 class='login'>Login | Register</h1>
            </header> -->
            <section class='lastSec'>
                <div class="change">
                    <a href="#/communities"><h1 class='world'>Click Here To Change The World</h1></a>
                </div>
            </section>
        </div>
      </div>
