 <div ng-controller="ModalInstanceCtrl">
   <div class='logDiv'>
     <img src="pics/betrLogo.png" alt="" class='logLogo' />
     <h1  class="loginH1">betr</h1>
     <h5 class="loginH2">Better Health. Better Life</h5>
   </div>
           <div class="aLogin">
                  <input type="text" class="form-control loginInput" name="emailLogin" ng-model="logUser.email" placeholder="Email" value=""><br>
                  <input type="password" class="form-control " name="passwordLogin" ng-model="logUser.password" placeholder="Password" value=""><br>
            <button class="btn logBtn" type="button" name="button" ng-click="MainCtrl.logUser(logUser)">Login</button>
            </div>


 </div>
