<!-- payment from braintree window -->
<p>this is the payment popup</p>
<a href="#/communities"><button class="" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="" type="" name="">Posts</button></a>
<a href="#/press"><button class="" type="" name="">Press</button></a>
<a href="#/editpress"><button class="" type="" name="">Edit Press</button></a>
