<!-- articles to establish a history -->
<p class="adminTitle" style="display:inline-block;">Betr in the News...</p>

<a href="#/communities"><button class="btn navBtn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn navBtn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn navBtn" type="" name="">Home</button></a>
<a href="#/admin"><button class="btn navBtn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn navBtn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn navBtn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn navBtn" type="" name="">Edit Press</button></a>
<!-- <a href="#/payment"><button class="btn navBtn" type="" name="">Payment Popup</button></a> -->
<!-- <a href="#/login"><button class="btn navBtn" type="" name="">Login</button></a> -->

<div style="display:inline-block;" ng-controller="MainController as MainCtrl">
  <h2 class='login'><a href="" ng-click='MainCtrl.open2("lg")'>Login</a>&nbsp;|&nbsp;
  </div><a class='login' href="#/register">Register</a></h1>


  <div class="pressDisplay">

   <article class="thePress" ng-repeat="item in AdminCtrl.items" >
       <div class="pressDiv">
         <img ng-src="{{item.imageLink}}">
               <div class="pressText">
                 <h1 class="comName">{{item.title}}</h4>
                 <h3 class="population">{{item.byline}} | </h3>
                 <h4 class="population"><a href="{{item.link}}">Click here to read more.</a></h3>
                 <h5 class="popPar">{{item.description}}</h5>
              </div>

       </div>
   </article>
  </div>



<footer>
<img class="footerImg" src="pics/betrLogo.png">
<p>Created by Students of The Iron Yard</p>
</footer>
