<!-- articles to establish a history -->
<p>this is the press page</p>
<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>

  <h2 class='login'><a href ng-click='open2("lg")'='#/login'>Login</a>&nbsp;| <a href="#/register">Register</a></h1>
    <div class="pressDisplay">

     <article class="thePress" ng-repeat="item in AdminCtrl.items" >
         <div class="pressDiv">
           <img ng-src="{{item.imageLink}}">
                 <div class="pressText">
                   <h4>{{item.title}}</h4>
                   <h4>{{item.byline}}</h4>
                   <h2>{{item.link}}</h2>
                   <p>{{item.description}}</p>
            </div>

         </div>
     </article>
    </div>



<footer>
<img class="footerImg" src="pics/betrLogo.png">
<p>Created by Students of The Iron Yard</p>
</footer>
