<a href="#/communities"><button class="btn" type="" name="">Communitites</button></a>
<a href="#/editcommunities"><button class="btn" type="" name="">Edit Communities</button></a>
<a href="#/home"><button class="btn" type="" name="">Logged in Home</button></a>
<a href="#/admin"><button class="btn" type="" name="">Admin</button></a>
<a href="#/newpost"><button class="btn" type="" name="">Posts</button></a>
<a href="#/press"><button class="btn" type="" name="">Press</button></a>
<a href="#/editpress"><button class="btn" type="" name="">Edit Press</button></a>
<a href="#/payment"><button class="btn" type="" name="">Payment Popup</button></a>
<a href="#/login"><button class="btn" type="" name="">Login</button></a>



<div class="aNewUser">
       <input type="text" class="loginInput" name="firstName" ng-model="newUser.firstName" placeholder="First Name" value=""><br>
       <input type="text" class="loginInput" name="lastName" ng-model="newUser.lastName" placeholder="Last Name" value=""><br>
       <input type="email" class="loginInput" name="emailLogin" ng-model="newUser.email" placeholder="Email" value=""><br>
       <input type="password" class="loginInput" name="passwordLogin" ng-model="newUser.password" placeholder="Password" value=""><br>
       <input type="hidden" class="loginInput" name="admin" ng-model="newUser.isAdmin" placeholder="Admin" value=""><br>

 <button type="button" name="button" ng-click="MainCtrl.addUser(newUser)">Register!</button>
 </div>
