<!-- triad of info and button leading to donate page -->
<header class='header1'>
  <img src="pics/flower.png" alt="flowerthing" / class='headerImg'>
  <h1 class='h1header'>betr</h1>
  <h2 class='login'>Login | Register</h1>
</header>

<section>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
  <div class=" div1"></div>
</section>
