.mainCont {
    background-image: url(pic/background2.jpg);
    background-size: cover;
    width: 100%;
}

.header {
    width: 100%;
    height: 100px;
    background: #fff;
}

div .regLogin {
  //  padding: 0;
    //padding-top: 3%;
    padding-left: 10%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    a{
      display: inline-block;
      //vertical-align: middle;
      padding: 0;
    }
      img{
        display: inline-block;
        //margin-bottom: 3%;
        height: 30px;
      }
    }
    h2{
    //  display: inline-block;
    //  vertical-align: middle;
    }


.headerImg {
    height: 70px;
    margin-left: 2%;
    padding-bottom: 1.2%;
    position: absolute;
    display: inline-block;
    //padding-left: 15%;
}


h1 .betr {
    display: inline-block;
    position: relative;
  // padding-left: 20%;
    //vertical-align: middle;
    color: #9C27B0;
    font-family: 'Poiret One',sans-serif;
    font-size: 5rem;
    //text-align: right;
}

.h1header {
    color: #9C27B0;
    font-family: 'Poiret One',sans-serif;
    display: inline;
    margin-left: 2%;
    //margin-top: 1%;
    //vertical-align: middle;
    font-size: 5rem;
    //margin-top: 3.5%;
    text-align: right;
    //margin-top: -1.2px;
}


.login {
    height: 34px;
    color: #2196F3;
    font-family: 'Poiret One';
    margin-left: 5%;
    margin-top: 1%;
    font-size: 2.5rem;
    display: inline;
    text-align: left;
    padding: 0;
   a{
     color: #2196F3;
     font-size: 2rem;
    }
}

a:hover {
    text-decoration: none;
    color: #2196F3;
}

.pinkDiv {
    background-color: #9C27B0;
    height: 185px;
    width: 68%;
    opacity: .3;
    display: inline-block;
}

#pinkDiv {
    margin-top: -5px;
    margin-left: -3px;
    width: 68.21%;
}

.blueDiv {
    background-color: #2196F3;
    height: 185px;
    width: 32%;
    margin-left: -4px;
    display: inline-block;
    opacity: .3;
    vertical-align: top;
}

.blueDiv3 {
    height: 185px;
    width: 72%;
    margin-left: -4px;
    background: #8BC34A;
    display: inline-block;
    opacity: .3;
    vertical-align: top;
}

.blueDiv2 {
    background-color: #CDDC39;
    height: 185px;
    width: 28%;
    display: inline-block;
    opacity: .3;
}

.div:hover {
    opacity: .8;
    padding-top: 3%;
    transition: .5s;
}

.info {
    color: #fff;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 4rem;
    padding: 7px;
}

.info2 {
    color: #fff;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 6rem;
    padding: 7px;
}

.fb {
    margin-left: 87%;
    margin-top: .8%;
    margin-bottom: 1%;
    width: 45px;
}

.icon2 {
    margin-top: .8%;
    margin-bottom: 1%;
    width: 25px;
}

.icon:hover {
    transform: scale(1.3,1.3);
    transition: .5s;
}

footer {
    // background-color: #fff;
    //width: 100%;
    height: 30px;
    img{
      display: block;
    }
}

.secPage {
    background-color: #fff;
    display: inline-block;
    height: 100%
}

.impact {
    margin: auto;
    //margin-left: 13.5%;
    display: inline-block;
    //margin-top: 4%;
    //margin-bottom: 2%;
    font-family: 'Raleway',sans-serif;
    img{
      max-height: 300px;
}
}

.theMainInfo {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin: 0 auto;
    padding-left: 5px;
}

.par {
    width: 80%;
    display: inline-block;
    color: #2196F3;
    font-family: 'Raleway',sans-serif;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 3%;
}

.par1 {
    width: 80%;
    display: inline-block;
    color: #2196F3;
    font-family: 'Raleway',sans-serif;
    font-size: 1.75rem;
    text-align: center;
}

.par2 {
    width: 85%;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.highlight {
    font-weight: 700;
    font-size: 2rem;
    padding: 2% 0;
    text-align: center;
}

.highlight2 {
    font-weight: 700;
    font-size: 2rem;
    padding: 2% 0;
    text-align: center;
}

.highlight3 {
    font-weight: 700;
    font-size: 3rem;
    padding: 2% 0;
    text-align: center;
}

.lastSec {
  background-image: url(pic/background2.jpg);
  background-size: cover;
  width: 100%;
}

.lastSec2 {
    //background-image: url(pic/background2.jpg);
    background-color: #8BC34A opacity .9;
    //background-size: contain;
    //background-repeat: no-repeat;
    width: 100%;
    //position: fixed;
}

.change {
    width: 100%;
    height:650px;
    //background-color: #2196F3;
    margin: auto;
    display: inline-block;
    //margin-bottom: 2%;
    opacity: .5;
    margin-top: 12%;
}

.world {
    height:250px;
    opacity: .7;
    background-color: #2196F3;
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 7rem;
    font-family: 'Poiret One';
}

.change:hover {
    font-size: 1.1em;
    transition: .5s;
    opacity: .9;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #2196F3;
}

//////ktes style additions
article {
    display: block;
    margin: 0 auto;
    img{
    max-height: 200px;
    margin: 4%;
}
}

.theCommunities,.thePress,.newPosts {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    display: block;
}

.theCommunityPage,.theCommunities img,.thePress img,.newPosts img {
    display: inline-block;
    max-height: 120px;
    margin-top: 11%;
}

// login
body {
    background-color: #fff;
}

.logLogo {
    width: 20%;
    margin-left: 40.5%;
    margin-top: 5%;
}

.aLogin {
    margin-left: 35%;
    margin-top: 15%;
    width: 30%;
    //height: 220px;
}

.loginInput {
    margin-top: -37%;
}

.logBtn {
    margin-left: 38%;
    background-color: #8BC34A;
    color: #fff;
    padding: 12px 16px;
    font-size: 2rem;
    font-family: 'Poiret One',sans-serif;
}

// .comBtn {
    //margin-left: 38%;
    //background-color: #8BC34A;
    //color: #fff;
    ////font-size: 24px;
    //border: solid 2px #fff;
//}

.comBtn {
    color: #8BC34A;
    background-color: #fff;
    font-family: 'Poiret One',sans-serif;
    font-size: 1.5rem;
    padding: 2px 16px;
}

.comBtn:hover {
    background-color: #8BC34A;
    border: solid 2px #fff;
    color: #fff;
}

.logBtn:hover {
    border: solid 2px #8BC34A;
    color: #8BC34A;
    background-color: #fff;
}

.loginH1 {
    color: #9C27B0;
    font-family: 'Poiret One',sans-serif;
    margin-left: 48%;
    font-size: 4.5rem;
}

.loginH2 {
    color: #9C27B0;
    font-family: 'Raleway',sans-serif;
    //margin-left: 44%;
    text-align: center;
    h2{
      text-align: center;
    }
}

.form-control {
    font-family: 'Raleway',sans-serif;
}

.comDiv,.postDiv,.pressDiv {
    background-color: #8BC34A;
    color: #fff;
    margin-top: 10%;
    margin-left: 10%;
    padding-bottom: 15px;
    margin-top: 15px;
    display: block;
    width: 80%;
    opacity: .85;
}

.comOneDiv {
    background-color: #8BC34A;
    color: #fff;
    margin-top: 10%;
    //margin-left: 10%;
    padding-bottom: 15px;
    //margin-top: 15px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .85;
}

.postDiv {
    background-color: #2196F3;
    opacity: .85;
}

.pressDiv {
    background-color: #9C27B0;
    opacity: .85;
}

.comDiv:hover,.postDiv:hover,.pressDiv:hover {
    //border: 2px solid #8BC34A;
    //background-color: #fff;
    color: #fff;
    opacity: 1;
}

// edit commmunity
ul {
    float: right;
    margin-right: 28%;
    margin-top: 5%;
    list-style: none;
}

.comName {
    margin-top: 10%;
}

.comText,.pressText,.postText {
    display: inline-block;
    vertical-align: middle;
}

.population {
    display: inline;
}

.scrollIt {
    background-image: url(pic/background2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    //width: 100%;
    padding: 0;
    margin: 0;
    opacity: .95;
}

.scrollItOne {
    background-image: url(pic/background2.jpg);
    opacity: .5;
    background-size: contain;
    background-repeat: no-repeat;
    //width: 100%;
    padding: 0;
    margin: 0;
    opacity: .95;
}

.communityDisplay,.pressDisplay,.postDisplay {
    display: block;
}

.editBtn {
    background-color: #8BC34A;
    color: #fff;
    padding: 3px 5px;
    font-size: 2rem;
    font-family: 'Poiret One',sans-serif;
    display: inline-block;
    margin: 0 auto;
}

.editBtn:hover {
    border: solid 2px #8BC34A;
    color: #8BC34A;
    background-color: #fff;
}

.adminTitle {
    color: #8BC34A;
    font-family: 'Raleway',sans-serif;
    font-size: 5rem;
    text-align: left;
    display: block;
    margin-left: 1%;
}

.mainTitle {
    color: #8BC34A;
    font-family: 'Raleway',sans-serif;
    font-size: 5rem;
    text-align: center;
    display: block;
    margin-left: 1%;
}

.mainTitle2 {
    color: #8BC34A;
    font-family: 'Raleway',sans-serif;
    font-size: 7rem;
    text-align: center;
    display: block;
    margin-left: 1%;
}

.adTitle {
    color: #8BC34A;
    font-family: 'Raleway',sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-left: 1%;
    display: inline-block;
}

footer {
    margin: 0 auto;
    font-family: 'Raleway',sans-serif;
    color: #8BC34A;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.insideFooter {
    margin: 0 auto;
    font-family: 'Raleway',sans-serif;
    color: #8BC34A;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3%;
}

.footerImg {
    max-height: 35px;
    padding-bottom: 5px;
}

.adminBtn {
    display: inline-block;
    margin-left: 2%;
    background-color: #8BC34A;
    color: #fff;
    padding: 12px 16px;
    font-size: 3rem;
    font-family: 'Poiret One',sans-serif;
    text-align: left;
}

.adminBtn:hover {
    border: solid 2px #8BC34A;
    color: #8BC34A;
    background-color: #fff;
}

.checkoutForm {
    display: block;
    width: 80%;
    text-align: center;
    margin: 5px;
}

#checkout {
    margin: 0 auto;
    text-align: center;
    padding-left: 15%;
}

.payBtn {
    padding: 0 20px;
    margin-left: -18%;
}

.select {
    width: 80%;
    text-align: center;
    margin-left: 5px;
}

.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(left.png) no-repeat;
    cursor: pointer;
    background-color: #2196F3;
}

.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px;
    height: 101px;
    background: url(right.png) no-repeat;
    cursor: pointer;
    background-color: #2196F3;
}

.pName {
    display: block;
    text-align: left;
    font-size: 2rem;
}

.navBtn {
    display: inline-block;
    margin-left: .5%;
    background-color: #8BC34A;
    color: #fff;
    padding: 2px 6px;
    font-size: 1.5rem;
    font-family: 'Poiret One',sans-serif;
    text-align: left;
}

.navBtn:hover {
    border: solid 2px #8BC34A;
    color: #8BC34A;
    background-color: #fff;
}

.bigBetr {
    font-family: Poiret One;
    font-size: 10rem;
    text-align: right;
}

.logOut {
    height: 475px;
    width: 100%;
    margin: 0;
    padding: 15px 0 0 15px;
    display: block;
    background-color: #8BC34A;
    font-size: 10rem;
}

.logoutBetr {
    color: #fff;
    font-size: 7rem;
    display: block;
    font-family: 'Raleway',sans-serif;
}

.userNav {
    display: block;
    padding-left: 1%;
    font-size: 2rem;
    a{
      padding: 0;
      margin: 0;
    }
}

////////////////////KATES ADDITIONS
.adminCommunityDiv,.adminUserDiv {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.adminSquares {
    width: 90%;
    margin: 0 auto;
    margin-left: 10%;
    vertical-align: top;
    display: inline-block;
    padding: 1%;
}

.adminPostDiv,.adminPressDiv {
    width: 40%;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
}

.adminBtnBlue {
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: #2196F3;
    color: #fff;
    padding: 12px 16px;
    font-size: 3rem;
    font-family: 'Poiret One',sans-serif;
    text-align: left;
}

.adminBtnBlue:hover {
    border: solid 2px #2196F3;
    color: #8BC34A;
    background-color: #fff;
    color: #2196F3;
}

.progress-bar {
    border-radius: 0;
    width: 70%;
    background-color: #2196F3;
}

.progress {
    border-radius: 0;
    margin: 0 auto;
}

.popPar {
    width: 600px;
}

.communitiesNumDisplay {
    font-size: 5rem;
}
