.mainCont{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/57/HOLI_IN_INDIA_-_ENJOYED_BY_ALL.jpg);
  background-size: cover;
  width: 100%;
}

header{
  width: 100%;
  height: 100px;
  background: white;
}

.headerImg{
  height: 90px;
  margin-left: 2%;
  margin-top: 0.5%;
  position: absolute;
}


.h1header{
  color: #9C27B0;
font-family: 'Poiret One', cursive;
display: inline-block;
margin-left: 15.2%;
font-size: 5em;
// margin-top: 3.5%;
text-align: right;
}
h2{
padding-left: 630px;
}
.login{
  width: 22%;
  height: 34px;
  border-radius: 3%;
  color: #9C27B0;
  font-family: 'Poiret One';
  // margin-left: 59%;
  margin-top: 1%;
  font-size: 2em;
  display: inline;
}

.pinkDiv{
  background-color: #9C27B0;
  height: 170px;
  width:68%;
  opacity: 0.2;
  display: inline-block;
}

.blueDiv{
    background-color: #2196F3;
    height: 170px;
    width: 32%;
    margin-left: -4px;
    display: inline-block;
    opacity: 0.2;
    vertical-align: top;
}

.blueDiv3{
  height:190px;
  width: 72%;
  margin-left: -4px;
  background:  #8BC34A;
  display: inline-block;
  opacity: 0.3;
  vertical-align: top;
  }

.blueDiv2{
  background-color:  #CDDC39;
  height:190px;
  width: 28%;
  display: inline-block;
  opacity: 0.4;
}


.div:hover{
  opacity: 0.8;
  padding-top: 3%;
  transition: .5s;
}

.info{
  color: white;
  text-align: center;
  font-family: 'Poiret One';
  font-size: 3em;
}

.fb{
  margin-left: 87%;
  margin-top: 0.8%;
  margin-bottom: 1%;
  width: 45px;
}

.icon2{
  margin-top: 0.8%;
  margin-bottom: 1%;
  width: 45px;
}

.icon:hover{
  transform: scale(1.3,1.3);
  transition: 0.5s;
}

footer{
  background-color: white;
  width: 100%;
}

.secPage{
  background-color: white;
}
.impact{
  width: 30%;
  height: 350px;
  background: #9C27B0;
  margin: auto;
  margin-left: 13.5%;
  border-radius: 60%;
  display: inline-block;
  margin-top: 10%;
  margin-bottom: 2%;
}

.par{
  width: 39%;
  margin-left: 7%;
  margin-top: 6%;
  display: inline-block;
  margin-bottom: 4%;
}

.lastSec{
  background-image: url(pic/background.jpg);
  background-size: cover;
  width: 100%;
  min-height: 730px;
}

.change{
    width: 80%;
    height: 250px;
    background-color: #2196F3;
    margin: auto;
    display: inline-block;
    margin-top: 17%;
    margin-bottom: 2%;
    opacity: 0.5;
    margin-left: 10%;
}

.world{
  text-align: center;
  color: white;
  padding-top: 5%;
  font-size: 4em;
  font-family: 'Poiret One';
}

.change:hover{
  font-size: 1.1em;
  opacity: 0.8;
  transition: 0.5s;
  text-decoration: none;
}

a {
  text-decoration: none;
}


//////ktes style additions
.theCommunities, .newPress{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: block;
  img{
    display: inline-block;
    max-height: 120px;
  }
}

// login

body{
  background-color: #2196F3;
}

.aLogin{
  margin-left: 35%;
  margin-top: 15%;
  background-color: #9C27B0;;
  width: 30%;
  height: 220px;
  border-radius: 10%;
}

.loginInput{
  margin-left: 10%;
  width: 80%;
  height: 34px;
  margin-top: 9%;
  background-color: #f5f5f5;
  border-radius: 5%;
}

.logButton{
  margin-top: 8%;
  width: 50%;
  margin-left: 25%;
  border-radius: 4%;

}
